@import url('//fonts.googleapis.com/css?family=Dancing+Script:400|Open+Sans:700,400');

body { 
	background-color: #F1F4FF;
	color: #137;
	margin: 0px;
	width: 1000px;
	font-family: serif;
}

#header {
	background-color: #595C7C;
	font-family: 'Dancing Script', 'Helvetica Neue', Helvetica, Arial;
	color: #0D1030;
	font-weight: bold;
	text-decoration: none;
	height: 130px;
	margin: 0px;
	padding: 0px;
}

#header #company a {
	color: #0D1030;
	font-weight: bold;
	text-decoration: none;
	font-size: 36px;
	float: left;
	margin-left: 50px;
	padding: 0px;
	height: 0px;
}

#header #company a:hover {
	color: #F1F4FF;
}

#header #company a::after {
	content: url(/media/arrow.png);
	position: relative;
	bottom: 122px;
	left: 170px;
}

#header #motto {
	float: right;
	margin: 65px 10px 0 0;

}



#header img { 
	position: inline;
	margin: 0px auto;
}


#nav {
	text-align: center;
	border-bottom: 4px solid #F1F4FF;
}

#nav li {
	display: inline;
	padding: 1em;
}

#nav a:link {
	color: #595C7C;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

#nav a:visited {
	text-decoration: none;
	color: #595C7C;
}

#nav a:hover {
	color: #FF4400;
}

#showcase {
	overflow: auto;
	width: 100%;
}

#avatar {
	float: right;
	margin: 4em 8em 2em 2em;
	border: 1px solid black;
}

#personal_data {
	float:left;
	margin: 0em 2em	2em 6em;
	padding: 2em;
}

#name {
	font-size: 200%;
	margin-bottom: 0;
}

.section {
	overflow: auto;
	text-align: center;
	margin: 1%;
	clear: both;
}

.sectionheader {
	background-color: #f1f1f1; 
	padding: 0.1em;
	border-bottom: 1px solid black;
}

.row {
	width: 30%;
	float: left; 
	background-color: #D8DBFB;
	margin: 1%;
}

.section table {
	width: 100%;
	font-family: sans-serif;
}

.section th {
	background-color: #BFC2E2
}

.button {
	float:right;
	margin: 1%;
	padding:0.75%;
	border-radius: 5px;
	background-image:
		linear-gradient(
			#A6A9C9, #8C8FAF
		);
	width: 20%;
	text-align: center;
}

.button a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #F1F4FF;
}

.button:hover {
	background-image:
		linear-gradient(
			#8C8FAF, #A6A9C9
		);
}
