{% extends "base.html" %}

{% block content %}

	{% if user.is_authenticated %}

			<div id="showcase">

				<div id="avatar"><img src="{{ employee.avatar.url }}" alt="Avatar"> </div>

				<div id="personal_data">

					<p id="name">{{ user.get_full_name }}</p>
					<p>{{ employee.position }}</p>
					<p>{{ user.email }}</p>
					<p>{{ employee.street }}, {{ employee.postcode }} 
						{{ employee.city }}</p>
					<p>Drugie imię: {{ employee.middle_name }}</p>
					<p>Pesel: {{ employee.pesel }}</p>
					<p>Nr dowodu: {{ employee.id_number }}</p>

				</div>

			</div>

			<div class="section">

				<div class="sectionheader"><p>Urlopy</p></div>

				<div class="row"><p>Dostępne:{{ leave.available_days }}</p></div>
				<div class="row"><p>Wykorzystane: {{ leave.days_used }}</p></div>
				<div class="row"><p>Pozostało: {{ leave.days_left }}</p></div>
				
			</div>

			<div class="section">

				<div class="sectionheader"><p>Delegacje</p></div>

				<div class="row"><p>Odbyto: {{ trip.trip_count }}</p></div>
				<div class="row"><p>Rozliczono: {{ trip.settlement_count }}
					</p></div>

			</div>

			<div class="section">
				<div class="sectionheader">Uprawnienia</div>
				<table>
					{% for qual in object_list %}
						<tr>
							<td>{{ qual.qualifications.name }}</td>
							<td>{{ qual.expiry_date }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>


	{% endif %}

{% endblock %}