{% extends "base.html" %}

{% block content %}

	{% if user.is_authenticated %}

			<div id="showcase">

				<div id="avatar"><img src="{{ avatar.url }}" alt="Avatar"> </div>

				<div id="personal_data">

					<p id="name">{{ user.get_full_name }}</p>

					<p>{{ position }}</p>

					<p>{{ street }}, {{ postcode }} {{ city }}</p>

				</div>

			</div>

			<div class="section">

				<div class="sectionheader"><p>Urlopy</p></div>

				<div class="row"><p>Dostępne:{{ available_days }}</p></div>
				<div class="row"><p>Wykorzystane: {{ days_used }}</p></div>
				<div class="row"><p>Pozostało: {{ days_left }}</p></div>
				
			</div>

			<div class="section">

				<div class="sectionheader"><p>Delegacje</p></div>

				<div class="row"><p>Odbyto: {{ trip_count }}</p></div>
				<div class="row"><p>Rozliczono: {{ settlement_count }}</p></div>

			</div>


			<!--
			<div id="leave">

				<p>Data ważności badania lekarskiego: {{ medical_check_date }}</p>

				<p>Data ważności szkolenia BHP: {{ health_safety_date }}</p>

				<p>Urlopu do wykorzystania: {{ available_days }} dni</p>

			</div>
			-->

	{% endif %}

{% endblock %}