{% extends "base.html" %}

{% block content %}
	
	<div class="section">
		<h1>Rozliczenie delegacji nr {{ pk }}</h1>
		<h4>Kwota do rozliczenia: {{ settlement.settlement_total|floatformat:2 }}</h4>
		<h4>Status: {{ settlement.get_status_display }}</h4>
	</div>
	<div class="section">
		<div class="button">
			<a href="/trips/add_route/{{ pk }}/">Dodaj przejazd</a>
		</div>
	</div>
	<div class="section">
		<span class="header">Trasy</span>
		<table>
			<tr>
				<th>Wyjazd</th>
				<th>Czas</th>
				<th>Przyjazd</th>
				<th>Czas</th>
				<th>Środek transportu</th>
				<th>Usuń</th>
			</tr>
			{% for route in route_list %}
				<tr>				
					<td>{{ route.begin }}</td>
					<td>{{ route.begin_time }}</td>
					<td>{{ route.end }}</td>
					<td>{{ route.end_time }}</td>
					<td>{{ route.get_transportation_display }}</td>
					<td><a href="/trips/delete_route/{{ pk }}/{{ route.id }}"><img src="{{ STATIC_URL }}/images/document_delete.png" alt="x" height="18" width="18"></a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="section">
		<div class="button">
			<a href="/trips/add_allowance/{{ pk }}/">Dodaj pobyt</a>
		</div>
	</div>
	<div class="section">
		<span class="header">Diety</span>
		<table>
			<tr>
				<th>Początek</th>
				<th>Koniec</th>
				<th>Ryczałt dojazdy</th>
				<th>Ryczałt noclegi</th>
				<th>Dieta</th>
				<th>Razem</th>
				<th>Modyfikuj</th>
				<th>Usuń</th>
			</tr>
			{% for allowance in allowance_list %}
				<tr>				
					<td>{{ allowance.begin_time }}</td>
					<td>{{ allowance.end_time }}</td>
					<td>{{ allowance.commute_lump|floatformat:2 }}</td>
					<td>{{ allowance.accomodation_lump|floatformat:2 }}</td>
					<td>{{ allowance.allowance|floatformat:2 }}</td>
					<td>{{ allowance.total_allowance|floatformat:2 }}</td>
					<td><a href="/trips/update_allowance/{{ pk }}/{{ allowance.id }}"><img src="{{ STATIC_URL }}/images/document_edit.png" alt="mod" height="18" width="18"></a></td>
					<td><a href="/trips/delete_allowance/{{ pk }}/{{ allowance.id }}"><img src="{{ STATIC_URL }}/images/document_delete.png" alt="x" height="18" width="18"></a></td>
				</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<th>{{ settlement.commute_lump_total|floatformat:2 }}</th>
				<th>{{ settlement.accomodation_lump_total|floatformat:2 }}</th>
				<th>{{ settlement.allowance_total|floatformat:2 }}</th>
				<th>{{ settlement.total_total|floatformat:2 }}</th>
				<td></td>
				<td></td>
			</tr>	
		</table>
	</div>
	<div class="section">
		<div class="button">
			<a href="/trips/add_cost/{{ pk }}/0/">Pozostały koszt</a>
		</div>	
		<div class="button">
			<a href="/trips/add_cost/{{ pk }}/1/">Kilometrówka</a>
		</div>
		<div class="button">
			<a href="/trips/add_cost/{{ pk }}/2/">Nocleg</a>
		</div>
		<div class="button">
			<a href="/trips/add_cost/{{ pk }}/3/">Przejazd</a>
		</div>
	</div>
	<div class="section">
		<span class="header">Koszty</span>
		<table>
			<tr>
				<th>Nazwa</th>
				<th>Kwota</th>
				<th>Usuń</th>
			</tr>
			{% for invoice in invoice_list %}
				<tr>				
					<td>{{ invoice.name }}</td>
					<td>{{ invoice.amount }}</td>
					<td><a href="/trips/delete_cost/{{ pk }}/{{ invoice.id }}"><img src="{{ STATIC_URL }}/images/document_delete.png" alt="x" height="18" width="18"></a></td>
				</tr>
			{% endfor %}
			<tr>
				<td></td>
				<th>{{ settlement.invoice_total|floatformat:2 }}</th>
				<td></td>
			</tr>
		</table>	
	</div>
	<div class="section">
		<div class="button">
			<a href="/trips/send/{{ pk }}/">Wyślij</a>
		</div>
	</div>

{% endblock %}