{% extends "base.html" %}

{% block content %}

  <div class="container-fluid">
    <a class="btn btn-primary pull-right" href="/trips/add_trip/">Dodaj</a>
    <br><br>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Delegacja</th>
        <th>Data</th>
      </tr>
      <tr>
        {% for trip in object_list %}
          <tr>
            <td><a class="btn btn-link btn-block" href="/trips/{{ trip.id }}/">{{ trip.purpose }}
              </a></td>
            <td>{{ trip.begin_date }}</td>
          </tr>
        {% endfor %}
      </tr>
    </table>
  </div>
  <div class="container-fluid">
    {% if is_paginated %}
      <nav>
        <ul class="pager">
          {% if page_obj.has_previous %}
            <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
          {% else %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
          {% endif %}
          {% if page_obj.has_next %}
            <li class="next"><a href="?page={{ page_obj.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a></li>
          {% else %}
            <li class="next disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

{% endblock %}