{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
		<a class="btn btn-primary pull-right" href="/leaves/leaverequest/">Dodaj</a>
	</div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">Wnioski urlopowe</div>
      <table class="table table-condensed table-hover">
        <tr>
          <th>Pracownik</th>
          <th>Od</th>
          <th>Do</th>
          <th>Dni</th>
          <th>Status</th>
        </tr>
        {% for leave in object_list %}
          <tr>
            <td>{{ leave.leave }}</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.days }}</td>
            <td>{{ leave.get_status_display }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div> <!-- /.container-fluid -->
  <div class="container-fluid">
    {% if is_paginated %}
      <nav>
        <ul class="pager">
          {% if page_obj.has_previous %}
            <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Nowsze</a></li>
          {% else %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Nowsze</a></li>
          {% endif %}
          {% if page_obj.has_next %}
            <li class="next"><a href="?page={{ page_obj.next_page_number }}">Starsze <span aria-hidden="true">&rarr;</span></a></li>
          {% else %}
            <li class="next disabled"><a href="#">Starsze <span aria-hidden="true">&rarr;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
	<!--
	<div class="button"><a href="/leaves/leaverequest/">Nowy wniosek</a></div>
	<div class="section">
		<div class="header">Urlopy</div>
		<table>
			<tr>
				<th>Pracownik</th>
				<th>Od</th>
				<th>Do</th>
				<th>Dni</th>
				<th>Status</th>
			</tr>
				{% for leave in object_list %}
					<tr>
						<td>{{ leave.leave }}</td>
						<td>{{ leave.start_date }}</td>
						<td>{{ leave.end_date }}</td>
						<td>{{ leave.days }}</td>
						<td>{{ leave.get_status_display }}</td>
					</tr>
				{% endfor %}
		</table>
	</div>
	-->

{% endblock %}